{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Edit {{task.task_name}}{% endblock %}

{% block content %}
<div class="lineUp container py-3 px-3 modal-content rounded-4 shadow form">
    <div class = 'modal-body'>


        <h1 class="heading ">Edit {{task.task_name}}</h1>

        <form method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {{ render_form(form, novalidate=True) }}
        </form>

        <div class="modal-footer">

            <a href="{{url_for('home')}}" class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}